:root {
--background-color-main: #ffffff;
--background-color-second: #2F303A;
--background-color-third: #F5F4FA;
--font-color-main: #757575;
--font-color-headings: #212121;
--button-color-primary: #2196F3;
--button-color-secondary: #F5F4FA;
}

html{
scroll-behavior: smooth;
}

body {
width:100%;
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden;

font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: var(--font-color-main);
background-color: var(--background-color-main);


}

.link {
text-decoration: none;
}

.list {
list-style: none;

}

.section-title{
font-weight: 700;
font-size: 36px;
line-height: 1.66;
text-align: center;
letter-spacing: 0.03em;

color: var(--font-color-headings);
}

.title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--font-color-headings);
}
.logo {
margin: 0px;

font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;

color: var(--button-color-primary);
}

/* Header */

.top-box{
position: relative;
top: 0;
left: 0;


display: flex;
justify-content: space-between;
align-items: center;

margin: 0%;
padding: 25px 150px;

}
.logo-box{
display: flex;
justify-content: center;
flex-direction: row;

}

.site-nav{
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
flex-direction: row;

margin: 0%;

}

.contacts{
display: flex;
justify-content: center;
flex-wrap: wrap;

margin: 0%;




}
.navigation-item {
display: flex;
padding-right: 57px;
padding left: 0;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;



color: var(--font-color-headings);
}

.site-nav .link:hover,
.site-nav .link:focus {
color: var(--button-color-primary);
}

.contacts .link {
margin: 10px;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;

color: var(--font-color-main);
}

.contacts .link:hover,
.contacts .link:focus {
color: var(--button-color-primary);
}

/********************* Hero ***************************/
.hero {
position: relative;
height: 636px;
left: 0px;
top: 0px;


display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
flex-direction: column;
margin: 0;
padding: 0;

background-image: url("../images/bg1.jpg");
background-size: cover;
background-attachment: scroll;
background-position: top;

}

.hero-title {
position: relative;

height: 127.2px;


font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #ffffff;

margin: 0%;
}

.hero-button{
position: relative;
width: 200px;
height: 53px;


align-items: center;

font-weight: 700;
font-size: 16px;
line-height: 1.88;
text-align: center;
letter-spacing: 0.06em;

color: #ffffff;
background-color: transparent;
border: transparent;


margin: 0%;
padding-left: 7px;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

overflow:hidden;
box-shadow:
0 0 0 0 rgba(143, 64, 248, 0.5),
0 0 0 0 rgba(39, 200, 255, 0.5);
transition: transform 0.3s ease, box-shadow 0.3s ease;
z-index: 2;
}

.hero-button::after {
content:'';
position:absolute;
height:100%;
width: 400px;
height: 400px;
top: -50px;
left: -100px;
background-color: #ff3cac;
background-image: linear-gradient(
225deg,
#27d86c 0%,
#26caf8 50%,
#c625d0 100%
);
z-index: -1;
transition: transform 0.5s ease;
}

.hero-button:hover{
transform: translate(0, -6px);
box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.5), -10px 10px 25px 0 rgba(39, 200, 255, 0.5);
}
.hero-button:hover::after{
transform: rotate(150deg);
}

.flex{
width: 100%;
height: 500px;
height: 100%;
display: flex;
padding: 20px;
}
/******************* Advantages ******************/
.advantages-list{
position: relative;
width: 100%;


display: flex;
flex-wrap: wrap;
justify-content: center;

margin: 0%;
padding top: 15px;
}

.title-advantages{
display: none;
margin: 0%;
}

.advantages-link{
position: relative;
flex-direction: row;
box-sizing: border box
display: flex;
justify-content: center;
align-items: center;
padding: 15px;
margin-top: 60px;

}

.advantages-text{
width: 270px;
}

/****************** What we do *****************/
.work-list{
position: relative;
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 15px;


}

.work-list-element{
position: relative;

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
width: 375px;
margin: 15px;

}

.image{
width: 100%;
}

.img-overlay > *{
transform: translateY(20px);
transition: transform 0.25s;
}

.img-overlay{
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

background: rgba(0, 0, 0, 0.6);
opacity: 0;
transition: opacity 0.25s;
}

.img-overlay:hover,
.img-overlay:focus{
opacity:1;
}

.img-overlay:hover > *,
.img-overlay:focus > *{
transform: translateY(0);
}

.work-title{
font-size: 1.5em;

color: #ffffff;
}
/********************** Our team *************************/
.our-team-section {
display: flex;
flex-wrap: wrap;
justify-content: center;

background-color: var(--background-color-third);
}

.team-list{
position: relative;
width: 100%;

display: flex;
flex-wrap: wrap;
justify-content: center;
padding-bot: 50px;

}

.team-box{
width: 270px;
height: 430px;

border-radius: 10px;
box-sizing: border-box;
margin: 15px;

background-color: #ffffff;
box-shadow: 0 2px 5px -2px;
}

.social-links{
position: relative;

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
padding: 15px;
}

.our-team-title{
position: relative;
text-align: center;

font-weight: 500;
font-size: 16px;
line-height: 1.19;

}

.our-team-text{
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
}

/************************* Section Regular Customers *****************************/
.customers-section{
position: relative;


transform: translateY(40px);

}
.customers-title{
position: relative;
height:80px;
}

.customers-list{
position: relative;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-items: center;

padding-bottom: 100px;
}

.customer{
padding: 12px;
}
/*********************** Footer *****************************/
.footer {
height: 100%;
position: relative;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
padding: 60px 215px;
background-color: var(--background-color-second);
}

.footer-contact-us{
position: relative;
display: flex;
flex-wrap: wrap;
flex-direction: column;
text-align: left;


}

.footer-contacts {
padding: 0;

}

.contact-link {
color: rgba(255, 255, 255, 0.6);
}

.footer-social-links{
position: relative;
display: flex;
flex-wrap: wrap;
flex-direction: column;
text-align: left;

padding: 0px 70px;
}

.social-links-bottom{
position: relative;
display: flex;
flex-wrap: wrap;
text-align: left;

margin:0;
padding:0;
padding-top: 20px;
}

.social-link{
padding-right: 10px;
}

.subscribe-form{
position: relative;
display: flex;
flex-wrap: wrap;
flex-direction: column;
text-align: left;


}

.action-text {
position: relative;

font-weight: 700;
font-size: 14px;
line-height: 1.14px;
text-transform: uppercase;

color: #ffffff;
}

.placeholder{
position: relative;
font-weight: 700;
font-size: 23px;
line-height: 1.14px;


margin-top: 14px;
box-border: transparent;
}

.subscribe-button {
padding: 20px;
margin-top: 10px;
font-weight: 700;
font-size: 14px;
line-height: 1.14px;
text-transform: uppercase;


color: #ffffff;
background-color: var(--button-color-primary);
border: transparent;
}

/********************************** DESIGN FOR PHONES **********************/
@media (min-width: 1700px)
{
.site-nav{
padding-right: 300px;
}
}
@media (max-width: 1350px)
{
.footer{
flex-direction: column;
padding: 60px 0px;
}
.footer-social-links{
justify-content: center;
flex-wrap: nowrap;
padding: 20px 0px 40px;
}

.social-links-bottom{
flex-wrap: nowrap;
justify-content: center;
}
.footer-contact-us,
.action-text,
.placeholder{
text-align: center;
}
.placeholder
.subscribe-button{
padding-left: 100px;
}
}

@media (max-width: 1200px)
{
.top-box{
padding: 6px 20px;
flex-direction: column;
}

.site-nav{
padding: 6px 0;
}

.navigation-item {
padding-right: 20px;
padding-left: 10px;
}

.contacts{
margin: 0;
padding: 0;
}